<%= javascript_include_tag "/assets/swfobject.js", "/assets/jquery.uploadify.v2.1.0.js" %>
<script type="text/javascript" charset="utf-8">

jQuery(document).ready(function() {
	
	jQuery('#yralbum_yrphoto').click(function(event){ 
		event.preventDefault();
	}); 
	
	jQuery('#yralbum_yrphoto').uploadify({
  	uploader : '/assets/uploadify/uploadify.swf',
		cancelImg : '/assets/uploadify/cancel.png',
		multi : true,
		auto : true,
  	script : '/admin/yralbums',
		onComplete : function(event, queueID, fileObj, response, data) { 
			var dat = eval('(' + response + ')');
			jQuery.getScript(dat.upload);},
  	scriptData : {
	        '_http_accept': 'application/javascript',
					'format' : 'json',
	        '_method': 'post',
	        
	        'book_id' : '<%= @book.id %>'
	      }
	});
	
	jQuery('#upload_submit').click(function(event){ 
			event.preventDefault(); 
			jQuery('#yralbum_yrphoto').uploadifyUpload(); 
		});
		
}); 
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Year Book: </b>
  <%= @book.title %>
</p>

<h3 id="photos_count"><%= pluralize(@book.yralbums.size, "Photo")%></h3>
<div id="uploads">

     
     <%= render :partial => @book.yralbums %>
</div>

     <h3>Upload a Photo</h3> 
  <%= form_for [:admin, Yralbum.new(:book_id => @book.id)], :html => {:multipart => true} do |f| %> 
	    <%= f.hidden_field :book_id, :value => @book.id %>
      <p>
      <%= f.file_field :yrphoto %> </p>
 <% end %>




