			<p class='buttons'>
 		
 		      <%= link_to  "Add Committee Member", new_admin_committee_path, :class => 'button positive' %>
 		</p>
			
			
			<table class="admintable">
			  <tr class="admintablehd">
			    <th width="25%">Name</th>
			    <th width="25%">Phone</th>
			    <th width="25%">Email</th>
			    <th width="25%">Designation</th>			    
			    <th  width="25%">Image</th>
          <th  width="25%">Description</th>
			    <th width="25%" style="text-align: center !important;">Action</th>
			  </tr>
			
			<% @committees.each do |committee| %>
			  <tr>
			    <td><%= committee.name %></td>
			    <td><%= committee.phone_no %></td>
			    <td><%= committee.email %></td>
			    <td><%= committee.designation %></td>
			    <td><%= image_tag committee.committee_url(:thumb) if committee.committee? %></td>
			    <td><%= truncate(committee.brief_info, :length => 110) %> </td>
			    <td style="text-align: center !important;"> <%= link_to "Edit", edit_admin_committee_path(committee), :class=>'button positive' %> &nbsp;&nbsp;</td> 
				  <td><a href="/admin/committees/<%= committee.id %>/delete" :onclick="if(confirm('Are you sure you want to delete this Committee Member?'))  return true;  else  return false;" :class="button negative" >Delete</a></td>
				
			    
			  </tr>
			<% end %>
			</table>
			<br />
				
		   

			