<%= javascript_include_tag "/assets/swfobject.js", "/assets/jquery.uploadify.v2.1.0.js" %>
<script type="text/javascript" charset="utf-8">

jQuery(document).ready(function() {
	
	jQuery('#palbum_galphoto').click(function(event){ 
		event.preventDefault();
	}); 
	
	jQuery('#palbum_galphoto').uploadify({
  	uploader : '/assets/uploadify/uploadify.swf',
		cancelImg : '/assets/uploadify/cancel.png',
		multi : true,
		auto : true,
  	script : '/admin/palbums',
		onComplete : function(event, queueID, fileObj, response, data) { 
			var dat = eval('(' + response + ')');
			jQuery.getScript(dat.upload);},
  	scriptData : {
	        '_http_accept': 'application/javascript',
					'format' : 'json',
	        '_method': 'post',
	        
	        'picture_id' : '<%= @picture.id %>'
	      }
	});
	
	jQuery('#upload_submit').click(function(event){ 
			event.preventDefault(); 
			jQuery('#palbum_galphoto').uploadifyUpload(); 
		});
		
}); 
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Gallery: </b>
  <%= @picture.title %>
</p>

<h3 id="photos_count"><%= pluralize(@picture.palbums.size, "Photo")%></h3>
<div id="uploads">

     
     <%= render :partial => @picture.palbums %>
</div>

     <h3>Upload a Photo</h3> 
  <%= form_for [:admin, Palbum.new(:picture_id => @picture.id)], :html => {:multipart => true} do |f| %> 
	    <%= f.hidden_field :picture_id, :value => @picture.id %>
      <p>
      <%= f.file_field :galphoto %> </p>
 <% end %>




