<p class='buttons'>

    <%= link_to  "Add winner entry", new_admin_winner_path, :class => 'button positive' %>
</p>

<p class='buttons'>

   <a href="/admin/students">List of Competitions</a>
</p>
<table class="admintable">
  <tr class="admintablehd">
    <th width="25%">Title</th>
    <th width="25%">Description</th>			    
    <th  width="25%">Image</th>
    
    <th width="25%" style="text-align: center !important;">Action</th>
  </tr>

<% @winners.each do |winner| %>
  <tr>
    <td><%= winner.title %></td>
    <td><%= truncate(winner.description, :length => 110).html_safe %></td>
    <td><%= image_tag winner.winner_photo_url(:thumb) if winner.winner_photo? %></td> 
    <td style="text-align: center !important;"> <%= link_to "Edit", edit_admin_winner_path(winner), :class=>'button positive' %> &nbsp;&nbsp;</td> 
	<td><a href="/admin/winners/<%= winner.id %>/delete" :onclick="if(confirm('Are you sure you want to delete this Entry?'))  return true;  else  return false;" :class="button negative" >Delete</a></td>
	
    
  </tr>
<% end %>
</table>
<br />