<%= form_for [:admin, @lecture], :html => { :multipart => true } do |f| %>

<p>
	<%= f.label :title, 'Lectures Title'%>
	<%= f.text_field :title%>
</p>

<p>
	<%= f.label :description, 'Lectures description'%>
	<%= f.text_area :description, :class => 'tiny_mce' %>
</p>



<p><%= f.submit%></p>

<% end %>
