<p class='buttons'>

    <%= link_to  "Add Books", new_admin_library_path, :class => 'button positive' %>
</p>

<table class="admintable">
  <tr class="admintablehd">
    <th width="25%">Book Name</th>
    <th width="25%">Author</th>
    <th width="25%">Description</th>
    <th width="25%" style="text-align: center !important;">Action</th>
  </tr>

<% @libraries.each do |library| %>
  <tr>
    <td><%= library.book_name %></td>
    <td><%= library.author %></td>
    <td><%= truncate(library.description, :length => 110).html_safe %></td>
    <td style="text-align: center !important;"> <%= link_to "Edit", edit_admin_library_path(library), :class=>'button positive' %> &nbsp;&nbsp;</td> 
	<td><a href="/admin/libraries/<%= library.id %>/delete" :onclick="if(confirm('Are you sure you want to delete this Publication?'))  return true;  else  return false;" :class="button negative" >Delete</a></td>
	
    
  </tr>
<% end %>
</table>
<br />